@import 'styles/main.scss';

.container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 96px;
  border-radius: 100px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  .item__word {
    @include font22;
  }
  .item__translate {
    @include fontSize16;
  }
}
