@import "src/styles/main";

.menuButton {
  font-family: 'Montserrat', 'sans-serif';
  color: $blackColor ;
  font-weight: 500;
  padding: 0;
  font-size: pxToRem(18);
  line-height: pxToRem(22);
  text-transform: none;
}
