@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.container__statistic {
  width: 100%;
  text-align: center;
  background-color: $bgColor;
  padding-top: 100px;
}
.main__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 46px;
  width: 100%;
  padding: 64px 0px;
  .item__progress {
    @include font100;
    color: $secondaryColor;
  }
  .item__description {
    @include font24;
  }
  .item__title {
    @include fontSize28;
    color: $secondaryColor;
    text-align: left;
    margin-bottom: 12px;
  }
}
.content__item {
  width: 360px;
  height: 250px;
  padding: 43px 63px 43px 73px;
  border: 1px solid $accentColor;
  border-radius: 100px;
}
