@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.item__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}
.list__textContent {
  @include fontSize16;
}

.list__value {
  @include fontSize16;
  font-weight: 700;
}
