@import './styles/main.scss';

.container {
  width: 100vw;
  padding: 0% 9%;
}
.title__accent {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 70px;
  color: #f06a33;
}
