@import './styles/main.scss';

<<<<<<< HEAD
.wrapper {
  width: $maxWidth;
  background-color: $colorMain;
  margin: 0 auto;
=======
.container {
  width: 100vw;
  padding: 0% 9%;
>>>>>>> d4ad9a6a3669c316b506962f7f160a6a608fa518
}
