@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import '../../../../core/variables/commonStyles/variables';

.container {
  .header {
    position: static;
    width: 100%;
    box-shadow: none;
    background-color: $color-gray;

    .header__nav {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      // margin: 0 auto;
      padding-left: 136px;
      padding-right: 136px;
      box-sizing: border-box;
      background-color: $color-gray;
      .logo {
        width: 126px;
        display: flex;
        justify-content: space-between;

        .logo__title {
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 35px;
          letter-spacing: 0.07em;
        }
      }
      .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 671px;
        .list__link {
          @include font18px;
        }
      }
    }
  }
}
