@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import '../../../../styles/abstracts/variables';
.wrapper {
  .header {
    position: static;
    width: 100%;
    box-shadow: none;
    background-color: $colorGray;

    .header__nav {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      padding-left: 9%;
      padding-right: 9%;
      background-color: $colorGray;
      .logo {
        width: 126px;
        display: flex;
        justify-content: space-between;

        .logo__title {
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 35px;
          letter-spacing: 0.07em;
        }
      }
      .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 671px;
        .list__link {
          @include font18px;
        }
      }
    }
  }
}
